form {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}


input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;

  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color: blue;
  cursor: pointer;
  border: 0px;
  outline: none;
  color: white;

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.container-form {
  margin-left: 25%;
   margin-top: 350px;
   width: 50%;

}

.colaborador-item {
  font-size: 20px;
  padding-left: 10px;
}

ul {
  list-style: none;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 10px;
}

li strong {
  font-size: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-collapse: collapse;
  border: 3px solid black;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}



.table th {
  text-align: left;
  font-size: 30px;
}


thead{
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead th {
  background: linear-gradient(to bottom, rgba(160, 160, 160, 0.1), rgba(0, 0, 0, 0.5));
  border: 3px solid purple;
}

.table tr:hover {
  background-color: #1E90FF;
}

@media only screen and (max-width: 768px) {
  form {
    width: 70%; /* Ajuste adicional para telas menores */
  }

  .table th {
    text-align: left;
    font-size: 20px;
  }

  input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;

    &.ng-invalid.ng-touched {
      border: 1px solid red;
    }
  }

  button {
    padding: 10px;
    border-radius: 5px;
    background-color: blue;
    cursor: pointer;
    border: 0px;
    outline: none;
    color: white;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

}
