<div style = "display: flex; align-items: center; justify-content: center; height:100vh;">
  <form [formGroup]="loginForm"  (submit)="onSubmit()">
    <input type="text" placeholder="Nome" formControlName="nome"/>
    <select formControlName="cargo">
      <option value="dev">Desenvolvedor</option>
      <option value="analista">Analista</option>
      <option value="gerente">Gerente</option>
      <option value="rh">Recursos Humanos</option>
    </select>
    @if (userName?.invalid && (userName?.dirty || userName?.touched)) {
      @if (userName?.errors?.['required']) {
        <span>Necessário informar o nome.</span>
       }

       @if (userName?.errors?.['minlength']) {
        <span>Nome é pedido e precisa ter ao menos 4 caracteres.</span>
       }
    }


    <input type="password" placeholder="Senha" formControlName="senha"/>
    @if (password?.invalid && (password?.dirty || password?.touched)) {
      @if (password?.errors?.['required']) {
        <span>Necessário informar a senha.</span>
       }

       @if (password?.errors?.['minlength']) {
        <span>
          Senha precisa ter ao menos 8 caracteres.
         </span>
       }

     }
    <button type="submit" [disabled]="!loginForm.valid">Enviar</button>
    <p>{{ mensagem }}</p>
  </form>

  <div class="container-form" *ngIf="colaboradores.length > 0">
    <h2>Lista de Colaboradores</h2>
    <ul class="lista-colaboradores">
      <li *ngFor="let colaborador of colaboradores" class="colaborador-item">
        <strong>Nome:</strong> {{ colaborador.nome }} <br>
        <strong>Cargo:</strong> {{ colaborador.cargo }} <br>
        <strong>Nível da Senha:</strong> {{ colaborador.senhaForca }}<br><br>
      </li>
    </ul>
  </div>
</div>
