<div>
  <form [formGroup]="loginForm"  (submit)="onSubmit()">
    <input type="text" placeholder="Nome" formControlName="nome"/>
    <select formControlName="cargo">
      <option value="" disabled selected hidden>Selecione uma opção</option>
      <option value="Desenvolvedor">Desenvolvedor</option>
      <option value="Analista">Analista</option>
      <option value="Gerente">Gerente</option>
      <option value="RH">Recursos Humanos</option>
    </select>
    @if (userName?.invalid && (userName?.dirty || userName?.touched)) {
      @if (userName?.errors?.['required']) {
        <span>Necessário informar o nome.</span>
       }

       @if (userName?.errors?.['minlength']) {
        <span>Nome é pedido e precisa ter ao menos 4 caracteres.</span>
       }
    }


    <input type="password" placeholder="Senha" formControlName="senha"/>
    @if (password?.invalid && (password?.dirty || password?.touched)) {
      @if (password?.errors?.['required']) {
        <span>Necessário informar a senha.</span>
       }

       @if (password?.errors?.['minlength']) {
        <span>
          Senha precisa ter ao menos 4 caracteres.
         </span>
       }

     }
    <button type="submit" [disabled]="!loginForm.valid">Enviar</button>
    <p>{{ mensagem }}</p>
  </form>

  <div class="container-form" *ngIf="colaboradores.length > 0">
    <h2>Lista de Colaboradores</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cargo</th>
          <th>Nível da Senha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let colaborador of colaboradores" class="colaborador-item">
          <td>{{ colaborador.nome }}</td>
          <td>{{ colaborador.cargo }}</td>
          <td>{{ colaborador.senhaForca }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
